<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ntalk - Agenda de contatos</title>
</head>
<body>
    <% include ../header %>
    <header>
        <h1>Ntalk</h1>
        <h4>Bem-vindo!</h4>
    </header>
    <section>
        <form action="/entrar" method="post">
            <input type="text" name="nome" placeholder="Seu nome">
            <br>
            <input type="text" name="email" placeholder="Seu e-mail">
            <br>
            <button type="submit">Entrar</button>
        </form>
    </section>
    <% include ..footer %>
    <footer>
        <small>Ntalk - Agenda de contatos</small>
    </footer>
    
</body>
</html>